{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}
{% block content %}

{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/car-1.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/car-2.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/car-3.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car-1.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
							
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car-2.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car-3.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>CarDealer Website</span></h3>
                    <p>Welcome to CarDealer, where we specialize in providing top-quality new and used vehicles to our valued customers. With a commitment to excellence and customer satisfaction, we strive to make your car buying experience seamless and enjoyable.</p>
                    <p class="mb-0">Our journey began with a passion for automobiles and a dedication to offering reliable transportation solutions. Over the years, we have built a reputation for integrity, transparency, and exceptional service. Whether you're in the market for a sleek sedan, a rugged SUV, or a powerful truck, we have the perfect vehicle to suit your needs and preferences.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->



<!-- Our team start -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Team working behind maintaining the quality of our Car Dealership Website.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{team.photo.url}}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{team.linkedin_link}}" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                                <a href="{{team.github_link}}" target="_blank" class="github-bg"><i class="fa fa-github"></i></a>
                                <a href="{{team.portfolio_link}}" target="_blank" class="portfolio-bg"><i class="fa fa-suitcase"></i></a>
                            </div>
                            
                        </div>
						
                        <div class="details">
                            <h4><a href="team-detail.html">{{team.first_name}} {{team.last_name}}</a></h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- Our team end -->
{% endblock %}
