{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Explore the range of services we offer to make your car buying and ownership experience seamless.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                         <h3>New and Used Car Sales</h3>
                        <p>Discover a wide selection of new and pre-owned vehicles tailored to your preferences and budget.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Vehicle Maintenance and Repair</h3>
                        <p>Trust our skilled technicians to keep your vehicle running smoothly with routine maintenance and repairs.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>Financing and Leasing</h3>
                        <p>Get competitive financing options and leasing plans tailored to your financial situation and needs.</p>
                    </div>
                </div>
            </div>
			
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Car Detailing and Cleaning</h3>
                        <p>Elevate the appearance of your vehicle with professional detailing and cleaning services to maintain its shine and appeal.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Vehicle Rental Services</h3>
                        <p>Experience convenience and flexibility with our vehicle rental services for short-term transportation needs.</p>
                    </div>
                </div>
            </div>
			
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Insurance Services</h3>
                        <p>Explore comprehensive insurance coverage options to protect your investment and provide peace of mind.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Service center strat -->

<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/chkKse7boKw" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>Here at Car Dealer, we pride ourselves on offering a comprehensive range of services tailored to meet all your automotive needs. From our extensive inventory of new and used vehicles, meticulously curated to provide options for every taste and budget, to our dedicated maintenance and repair services performed by skilled technicians using state-of-the-art equipment, we are committed to ensuring your vehicle stays in peak condition. Our financing and leasing options make owning your dream car a reality, with flexible plans designed to suit your individual financial situation.</p>
                </div>
                <div class="about-text">
                    <p>Additionally, our insurance services provide peace of mind, offering comprehensive coverage to protect your investment. For added convenience, we offer vehicle rental services, providing short-term transportation solutions tailored to your requirements. And for those looking to maintain their vehicle's appearance, our professional detailing and cleaning services ensure your car looks as good as new, both inside and out. At [Your Dealership Name], we're not just selling cars; we're delivering a complete automotive experience, centered around quality, reliability, and customer satisfaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
